/**
 * Inject Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 */
 @tailwind base;

 [x-cloak] {
    display: none !important;
  }

 /**
   * Inject any component classes registered by Tailwind plugins.
   */
 @tailwind components;
 
 /**
   * Inject all of Tailwind's utility classes, generated based on your
   * config file.
   */
 @tailwind utilities;
